<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower</title>
    <link href="../static/output.css" rel="stylesheet">
    <link rel="icon" href="https://fav.farm/🌸" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fascinate&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="min-h-screen w-full p-5">

    <h1 class="text-center text-white text-[100px] shadow-2xl rounded-xl font-[fascinate]">🌸Iris Flower🌸</h1>

    <form class="inputs flex mt-15 justify-center gap-15">
        <div class="sepal-length">
            <h2 class="text-2xl font-bold text-cyan-800 font-[montserrat] text-center">Sepal length</h2>
            <input class="border mt-3 border-purple-600 bg-white outline-none rounded shadow" type="text" name="sepal-length" id="" required>
        </div>
        <div class="sepal-width">
            <h2 class="text-2xl font-bold text-cyan-800 font-[montserrat] text-center">Sepal width</h2>
            <input class="border mt-3 border-purple-600 bg-white outline-none rounded shadow" type="text" name="sepal-length" id="" required>
        </div>
        <div class="petal-length">
            <h2 class="text-2xl font-bold text-cyan-400 font-[montserrat] text-center">Petal length</h2>
            <input class="border mt-3 border-purple-600 bg-white outline-none rounded shadow" type="text" name="sepal-length" id="" required>
        </div>
        <div class="pepal-width">
            <h2 class="text-2xl font-bold text-cyan-400 font-[montserrat] text-center">Petal width</h2>
            <input class="border mt-3 border-purple-600 bg-white outline-none rounded shadow" type="text" name="sepal-length" id="" required>
        </div>
    </form>

    <input class="mx-auto" type="submit" value="Submit">


</body>

</html>